<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Habits list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                const title = $(this).find('input[name="title"]').val();
                const description = $(this).find('input[name="description"]').val();
                const category = $(this).find('select[name="category"]').val();

                console.log('Введенные данные:', { title: title, description: description, category: category });

                // Проверка на пустое значение категории
                if (!category) {
                    alert('Пожалуйста, выберите категорию.');
                    event.preventDefault(); // Отменить отправку формы
                }
            });
        });
    </script>
</head>

<body>
<h1>Все привычки</h1>
<div class="container">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="habit : ${habits}">
            <td th:text="${habit.id}"/>
            <td th:text="${habit.title}"/>
            <td th:text="${habit.description}"/>
            <td th:text="${habit.image}"/>
            <td th:text="${habit.category.title}"/>
            <td>
                <a th:href="@{'/habits/show/' + ${habit.id}}" th:text="Просмотреть"/>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="${'Всего привычек ' + habits.size()}"></span>
    <br>
    <form th:action="@{/habits/add}"
          th:object="${habit}" method="post" class="form-horizontal">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{title}" placeholder="title (*)" class="form-control" required/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{description}" placeholder="description (*)" class="form-control" required/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select th:field="*{category}" class="form-control" required>
                <option value="" disabled selected>Выберите категорию</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}" th:text="${category.title}">
                </option>
            </select>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>
